* {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    background: -webkit-linear-gradient(to right, hsla(37, 95%, 50%, 0.459), hsla(71, 78%, 67%, 0.664)), url(/images/pasadizo.jpg);
    background: linear-gradient(to right, hsla(37, 95%, 50%, 0.459), hsla(71, 78%, 67%, 0.664)), url(/images/pasadizo.jpg);
    border: 2px solid black;
}

body {
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

nav {
    height: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 15px 20px 0 0;
    text-decoration: solid;
}

nav > a {
    margin: 0 10px;
    text-decoration: solid;
    color: #fff;
    font-weight: 300;
}

nav > a:hover {
    color: rgb(3, 132, 245);
}

.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

/* HEADER */

.content-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 650px;
    margin-bottom: 40px;
    
}

.content-header h1 {
    font-size: 50px;
    font-weight: 100;
    color: #fff;
}

.content-header h2 {
    font-size: 20px;
    font-weight: 200;
    color: #fff;
}

.content-header img {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* SECTION POSTRES */

.presentacion {
    flex-direction: column;
    padding: 40px 0;
    background: rgba(196, 192, 192, 0.504);
}

.presentacion h2 {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 10px;
}

.presentacion h3 {
    font-size: 15px;
    font-weight: 200;
}


.ventana {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 80%;
}

.postres {
    width: 30%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}


.postres > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.hover-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hover-content h2 {
    color: #fff;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.postres:hover .hover-content{
    transform: scale(1);
}

.torta {
    height: 40px;
    width: 40px;
}

/* SECTION MOSTRADOR */

.mostrador {
    display: flex;
    background: #fff;
    width: 100%;
    margin: auto;
}


.mostrador-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.cortina {
    background-size: cover;
    margin-right: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.cortina img {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

/* SECTION FOOTER */

footer {
    padding: 20px 40px 5px 40px;
    background-color: #0000008f;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.link h3{
    font-size: 20px;
    color: #C5C5C5;
    font-weight: bolder;
    margin-bottom: 15px;
}

.link a {
    font-size: 15px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 11px;
    text-decoration: none;
}

.text-footer {
    margin:auto
}




