<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa de Chantilly</title>
    <link rel="stylesheet" href="/static/estilos2.css">
    <script src="https://kit.fontawesome.com/baeda1b60e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Productos</a>
            <a href="#">Servicios</a>
            <a href="#">Soporte</a>
        </nav>
        <div class="content-header">
            <h1>La Casa de Chantilly</h1>
            <h2>Cerca de ti</h2>
            <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-0.00,49.85 C150.00,149.60 349.20,-49.85 500.00,49.85 L500.00,149.60 L-0.00,149.60 Z" style="stroke: none; fill: rgb(236, 198, 117);"></path></svg></div>
        </div>
    </header>

    <section class="presentacion container">
        <h2>Nuestros postres para cumplir tus deseos</h2>
        <h3>Tenemos lo que buscas</h3>
        <div class="ventana">
            <div class="postres">
                <img src="/images/imagen1.jpg" alt="" class="postre">
                <div class="hover-content">
                    <img class="torta" src="/images/torta.png" alt="">
                    <h2>Nuestros productos</h2>
                </div>
            </div>
            <div class="postres">
                <img src="/images/imagen2.jpg" alt="" class="postre">
                <div class="hover-content">
                    <img class="torta" src="/images/torta.png" alt="">
                    <h2>Nuestros productos</h2>
                </div>
            </div>
            <div class="postres">
                <img src="/images/imagen3.jpg" alt="" class="postre">
                <div class="hover-content">
                    <img class="torta" src="/images/torta.png" alt="">
                    <h2>Nuestros productos</h2>
                </div>
            </div>
            <div class="postres">
                <img src="/images/imagen4.jpg" alt="" class="postre">
                <div class="hover-content">
                    <img class="torta" src="/images/torta.png" alt="">
                    <h2>Nuestros productos</h2>
                </div>
            </div>
            <div class="postres">
                <img src="/images/imagen5.jpg" alt="" class="postre">
                <div class="hover-content">
                    <img class="torta" src="/images/torta.png" alt="">
                    <h2>Nuestros productos</h2>
                </div>
            </div>
            <div class="postres">
                <img src="/images/imagen6.jpg" alt="" class="postre">
                <div class="hover-content">
                    <img class="torta" src="/images/torta.png" alt="">
                    <h2>Nuestros productos</h2>
                </div>
            </div>
            <div class="postres">
                <img src="/images/imagen7.jpg" alt="" class="postre">
                <div class="hover-content">
                    <img class="torta" src="/images/torta.png" alt="">
                    <h2>Nuestros productos</h2>
                </div>
            </div>
            <div class="postres">
                <img src="/images/imagen8.jpg" alt="" class="postre">
                <div class="hover-content">
                    <img class="torta" src="/images/torta.png" alt="">
                    <h2>Nuestros productos</h2>
                </div>
            </div>
            <div class="postres">
                <img src="/images/imagen9.jpg" alt="" class="postre">
                <div class="hover-content">
                    <img class="torta" src="/images/torta.png" alt="">
                    <h2>Nuestros productos</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="mostrador container">
        <div class="mostrador-content">
            <div class="cortina">
                <img src="/images/ventana2.jpg" alt="" >  
            </div>
        </div>
        <div class="mostrador-content">
            <div class="cortina">
                <img src="/images/ventana2.jpg" alt="" >  
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <h3>Inicio</h3>
                <ul>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Sostenibilidad</a></li>
                    <li><a href="#">Negocio</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>Productos</h3>
                <ul>
                    <li><a href="#">Tortas</a></li>
                    <li><a href="#">Chiskey</a></li>
                    <li><a href="#">Queques</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>Servicio</h3>
                <ul>
                    <li><a href="#">Fiestas</a></li>
                    <li><a href="#">Pedidos</a></li>
                    <li><a href="#">Cumpleaños</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>Soporte</h3>
                <ul>
                    <li><a href="#">Reclamos</a></li>
                    <li><a href="#">Ayuda al cliente</a></li>
                    <li><a href="#">Soporte</a></li>
                    
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>